{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/styles.css" />
</head>

<body>
    <h3 align="center">Week 1</h3>
    <div align="center">
        <table class="table">
            <tr class="table__header">
                {% for header in headings%}
                <th class="table__cell">{{ header }}</th>
                {% endfor %}
            </tr>
           
            <tr class="table__row">
               
                <td class="table__cell">Squat</td>
                <td class="table__cell">4</td>
                <td class="table__cell">4</td>
                <td class="table__cell">{{(entries[1] * 0.75)|round}} </td>
                <td class="table__cell">-</td>
               
            </tr>

            <tr class="table__row"> 
                <td class="table__cell">Bench Press</td>
                <td class="table__cell">5</td>
                <td class="table__cell">4</td>
                <td class="table__cell">{{(entries[0]*0.75)|round }}</td>
                <td class="table__cell">-</td>
            </tr>

            <tr class="table__row">
                <td class="table__cell">Leg Press</td>
                <td class="table__cell">3</td>
                <td class="table__cell">8-10</td>
                <td class="table__cell">-</td>
                <td class="table__cell">7-8</td>
            </tr>

            <tr class="table__row">
                <td class="table__cell">DB Shoulder Press</td>
                <td class="table__cell">3</td>
                <td class="table__cell">10</td>
                <td class="table__cell">-</td>
                <td class="table__cell">7-8</td>
            </tr>
       
        </table>
    </div>

    
</body>

</html>




<!--

<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes%}

    <li class="list-group-item">{{ note.data}}
        
        <button type="button" class="close" onclick="deleteNote({{ note.id }})">
            <span aria-hidden="true">&times;</span>
        </button>

    </li>
    {%endfor%}
</ul>
<form method="POST">
    <textarea name="note" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
</form>-->
{%endblock %}